extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Usman Mehmood

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p I graduated from the Electrical and Biomedical Engineering program at McMaster University in April, 2018. I have dabbled in software ever since 2013, and came to love the problem solving and artistic/creative aspects of it. I tinkered with different languages throughout university including Python, C, Java, and Matlab. I also have had my fair share of Machine Learning through my capstone project in which we assessed the relationship between heart rate and sleep quality. It was near the end of my undergrad when I discovered the beauty of JavaScript, and have been working with it since. Right now I am completing my Treehouse Techdegree in Full Stack Javascript.
          p I have come to realize that writing software is a form of expression and needs to be communicated to both man and machine in simple and eloquent ways. I have gained experience with the MEAN stack, and am always looking to expand my knowledge. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

      
        ul
          li HTML
          li CSS
          li Bootstrap
          li JavaScript
          li OOJS
          li jQuery
          li AJAX
          li Express
          li Pug 
          li Angular
          li Node.js
          li Git/GitHub
          li MongoDB
          li Firebase
        h6 Contact Info

        ul
          li 647-780-0678
          li usman.mehm@outlook.com

        a.button.expanded(href='https://www.linkedin.com/in/usmanmehm/') LinkedIn
        a.button.expanded(href='https://github.com/usmanmehm') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  